body {
    font-family: Arial, sans-serif;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

.tab {
    display: none;
}

#entrainement {
    display: block;
}

#entrainement h2,
#controle h2 {
    color: #333;
}

#entrainement ul,
#controle ul {
    padding-left: 20px;
}

#entrainement ul li,
#controle ul li {
    margin-bottom: 5px;
}
